<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor" />
  </configSections>

  <connectionStrings configSource="connections.config" />

  <castle>
    <components>
      <component id="ShipIt.Repositories.EmployeeRepository" service="ShipIt.Repositories.IEmployeeRepository, ShipIt" type="ShipIt.Repositories.EmployeeRepository, ShipIt, Version=1.0.0.0, Culture=neutral" lifestyle="PerWebRequest">
      </component>
      <component id="ShipIt.Repositories.ProductRepository" service="ShipIt.Repositories.IProductRepository, ShipIt" type="ShipIt.Repositories.ProductRepository, ShipIt, Version=1.0.0.0, Culture=neutral" lifestyle="PerWebRequest">
      </component>
      <component id="ShipIt.Repositories.CompanyRepository" service="ShipIt.Repositories.ICompanyRepository, ShipIt" type="ShipIt.Repositories.CompanyRepository, ShipIt, Version=1.0.0.0, Culture=neutral" lifestyle="PerWebRequest">
      </component>
      <component id="ShipIt.Repositories.StockRepository" service="ShipIt.Repositories.IStockRepository, ShipIt" type="ShipIt.Repositories.StockRepository, ShipIt, Version=1.0.0.0, Culture=neutral" lifestyle="PerWebRequest">
      </component>
      <component id="ShipIt.Controllers.StatusController" service="ShipIt.Controllers.StatusController, ShipIt" type="ShipIt.Controllers.StatusController, ShipIt, Version=1.0.0.0, Culture=neutral" lifestyle="PerWebRequest">
      </component>
      <component id="ShipIt.Controllers.ProductController" service="ShipIt.Controllers.ProductController, ShipIt" type="ShipIt.Controllers.ProductController, ShipIt, Version=1.0.0.0, Culture=neutral" lifestyle="PerWebRequest">
      </component>
      <component id="ShipIt.Controllers.EmployeeController" service="ShipIt.Controllers.EmployeeController, ShipIt" type="ShipIt.Controllers.EmployeeController, ShipIt, Version=1.0.0.0, Culture=neutral" lifestyle="PerWebRequest">
      </component>
      <component id="ShipIt.Controllers.CompanyController" service="ShipIt.Controllers.CompanyController, ShipIt" type="ShipIt.Controllers.CompanyController, ShipIt, Version=1.0.0.0, Culture=neutral" lifestyle="PerWebRequest">
      </component>
      <component id="ShipIt.Controllers.InboundOrderController" service="ShipIt.Controllers.InboundOrderController, ShipIt" type="ShipIt.Controllers.InboundOrderController, ShipIt, Version=1.0.0.0, Culture=neutral" lifestyle="PerWebRequest">
      </component>
      <component id="ShipIt.Controllers.OutboundOrderController" service="ShipIt.Controllers.OutboundOrderController, ShipIt" type="ShipIt.Controllers.OutboundOrderController, ShipIt, Version=1.0.0.0, Culture=neutral" lifestyle="PerWebRequest">
      </component>
    </components>
  </castle>


  <system.web>
      <compilation debug="true" targetFramework="4.0" />
  </system.web>

<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Castle.DynamicProxy2" publicKeyToken="407dd0808d44fbdc" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
